*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body{
    padding:10px;
    background-color: #3c3e8a;
    color: white;
}

@media screen and (min-width:300px) and (max-width:500px) {




    #App-title{
        text-align: center;
        margin: 5px 0 5px 0 ;
    }
    
    
    .form-container{
        display:flex ;
        flex-direction: column;
        align-items:center;
        justify-content:center ;
        margin:20px 0 10px 0 ;
        padding: 20px;
    }



    input[type='text']{
        height: 30px;
        margin:10px 0 10px 0;
        
    }


    input[type='text']:focus{
        height: 30px;
        background-color: #9fb1df;
    }


    #weather-form-submit-button{
        background-color: #f8215d;
        color:white;
        font-weight: bold;
        border:none;
        border-radius: 5px;
        height: 40px;
        width: 80px;
        cursor: pointer;
        margin:0 auto 0 auto;
    }

    #weather-cards-div{
        height: 100%;
        display:flex;

        
    }


    .singleweathercard{
        height: 200px;
        width:200px;
        font-size: large;
        background-color:white;
        color:black;
    }


    
}

